.file-input {
  border: 1px solid #0004;
  padding: 1em;
  background-color: #eee;
  min-height: 400px;
  min-width: 400px;
  margin: 1em;

  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.img-preview {
  width: 256px;
  height: 256px;
  object-fit: contain;
}