.file-input {
  border: 1px solid #0004;
  padding: 1em;
  background-color: #eee;
  min-height: 200px;
  min-width: 400px;
  margin: 1em;

  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.img-preview {
  width: 256px;
  height: 256px;
  object-fit: contain;
}

table {
  margin: 1em;
  table-layout: auto;
  width: 100%;
}

.class-name {
  text-align: right;
  padding-right: 0.5em;
}

.probability-label {
  min-width: 100px;
}

.probability {
  text-align: left;
  padding-left: 0.5em;
}